# Rails
RAILS_ENV=production
SECRET_KEY_BASE=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_WEBHOOK_SECRET=

# LINE
LINE_CHANNEL_TOKEN=

# SwitchBot
SWITCHBOT_TOKEN=
SWITCHBOT_SECRET=

# Redis
REDIS_URL=redis://redis:6379
