# Rails
RAILS_ENV=production
SECRET_KEY_BASE=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_WEBHOOK_SECRET=

# Microsoft Graph
MS_CLIENT_ID=
MS_CLIENT_SECRET=
MS_TENANT_ID=
MS_REFRESH_TOKEN=
MS_WEBHOOK_SECRET=

# LINE
LINE_CHANNEL_TOKEN=

# VoiceMonkey
VOICEMONKEY_TOKEN=

# SwitchBot
SWITCHBOT_TOKEN=
SWITCHBOT_SECRET=

# Redis
REDIS_URL=redis://redis:6379
