# Rails
RAILS_ENV=production
SECRET_KEY_BASE=
RAILS_SERVE_STATIC_FILES=1

# App
ALLOWED_EMAIL=your@example.com
WEBHOOK_URL=https://your-domain.duckdns.org

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_WEBHOOK_SECRET=

# LINE
LINE_CHANNEL_TOKEN=
LINE_CHANNEL_SECRET=
LINE_GROUP_ID=

# SwitchBot
SWITCHBOT_TOKEN=
SWITCHBOT_SECRET=

# Redis
REDIS_URL=redis://redis:6379
